<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <!-- <div> <a href="{{ url_for('index') }}">Home</a> -->
        <div><a href="{{ url_for('songChallenge') }}">songs</a> <a href="{{ url_for('login') }}"> microblog login</a> <a href="{{ url_for('willowlogin') }}"> willow login</a></div>
        <hr>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
    </body>
</html>
